[submodule "urlshortener-frontend"]
	path = urlshortener-frontend
	url = https://github.com/AbhishekSankhla121/urlshortener-frontend
[submodule "urlshortener-backend"]
	path = urlshortener-backend
	url = https://github.com/AbhishekSankhla121/urlshortener-backend.git
